html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* .container {
  padding: 50%;
} */
.bookContainer {
  width: 250px;
  height: 400px;
  margin: 20px;
  display: inline-block;
  border: 2px solid black;
  line-height: 2em;
  margin-left: 65px;
  padding-bottom: 50px;
}
.bookTitle {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}
.read {
  background-color: lightgreen;
}
.unread {
  background-color: red;
}
.rented {
  background-color: grey;
}
.returned {
}
img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
#pageTitle {
  text-align: center;
  font-family: Arial;
}
